@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


html{
    @apply bg-[#0ac] text-2xl text-white;
    font-family: SourceSansPro,Helvetica,sans-serif;
    line-height: 1.5;
}

.content-wrapper{
    @apply w-full p-20 flex justify-center
}

.content {
    @apply w-[70%] p-20 
}

.content-odd{
    @apply text-[#0ac] bg-white
}

.content-even{
    @apply text-[#0ac] bg-[#f6f6f6]
}

.content .headline h3{
    @apply font-bold text-4xl mb-2
}

.content .headline h4{
    @apply  text-sm
}

.headline{
    @apply flex
}

.tariff-details sup{
    @apply font-extrabold
}


h1{
    @apply text-5xl  font-bold mb-10
}

h2{
    @apply text-3xl font-bold mb-10
}

input[type="text"], input[type="password"], input[type="search"], input[type="number"],select{
    @apply px-8 py-2 bg-slate-100 border border-slate-400 rounded-3xl font-extrabold text-xl text-black text-center
}

select {
    @apply w-72
}

.btn-primary{
    @apply font-extrabold text-xl text-white  px-8 py-2 border-[3px] border-white rounded-3xl hover:text-[#0ac] hover:bg-white
}

.btn-primary-odd{
    @apply font-extrabold text-xl text-[#0ac]  bg-[#0ac] text-white px-8 py-2 border-[3px] border-[#0ac] rounded-3xl hover:text-[#0ac] hover:bg-white
}

